---
---

@import "{{ site.theme }}";

.page-header {
  background: url('/assets/img/1500x500.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-footer {
    text-align: center
}