---
---

@import "{{ site.theme }}";
body {
  font-family: 'Lato', sans-serif;
  font-size: 12pt
}
.page-header {
  background: url('/assets/img/wildwood_banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #084929;
}
.site-footer {
    text-align: center
}

.project-tagline {
    opacity: 1.0;
}

.btn { color: rgba(255, 255, 255, 1.0); background-color: rgba(255, 255, 255, 0.0); border-color: rgba(255, 255, 255, 0.2); }
.btn:hover { color: rgba(255, 255, 255, 1.0); background-color: rgba(255, 255, 255, 0.4); border-color: rgba(255, 255, 255, 0.5); }

.page-header {
  background: #084929;
  background-image: url("/assets/img/wildwood_banner.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
}

.main-content {
  font-size: 12pt;
  font-weight: 300;
}

.main-content h1 {
  color: #084929;
  font-size: 1.25em;
  font-variant: small-caps;
}

.main-content h2 {
  color: #084929;
  font-size: 1em;
}

.photo-with-credit {
  font-size: small;
  width: 300px;
  float: left;
  margin-right: 1em;
}

.photo-with-credit-right {
  font-size: small;
  width: 300px;
  float: right;
  margin-left: 1em;
}


@media screen and (max-width: 42em) {
  .photo-with-credit {
    font-size: small;
    width: 100%;
    float: none;
    margin-right: 1em;
  }
  .photo-with-credit-right {
    font-size: small;
    width: 100%;
    float: none;
    margin-left: 1em;
  }
}

.video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

strong {
  font-variant: small-caps;
  font-weight: normal;
  font-size: larger; 
}

p {text-align: justify}
