---
---

@import "{{ site.theme }}";

.page-header {
  background: url('/assets/img/cd_cover_lower.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #8B261C;
}
.site-footer {
    text-align: center
}

.project-tagline {
    opacity: 1.0;
}

.btn { color: rgba(255, 255, 255, 1.0); background-color: rgba(255, 255, 255, 0.0); border-color: rgba(255, 255, 255, 0.2); }
.btn:hover { color: rgba(255, 255, 255, 1.0); background-color: rgba(255, 255, 255, 0.4); border-color: rgba(255, 255, 255, 0.5); }

.page-header {
  background: #8B261C;
  background-image: url("/assets/img/cd_cover_lower.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
}

.main-content h1 {
  color: #8B261C;
  font-size: 1.25em;
  font-variant: small-caps;
}

.main-content h2 {
  color: #8B261C;
  font-size: 1em;
}

.photo-with-credit {
  font-size: small;
  width: 300px;
  float: left;
  margin-right: 1em;

}

@media screen and (max-width: 42em) {
.photo-with-credit {
  font-size: small;
  width: 100%;
  float: none;
  margin-right: 1em;
}
}